body
{
   background-color: #303030;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_LayoutGrid1
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: #202020;
   background-image: url('images/gold.jpg');
   background-repeat: repeat;
   background-position: center center;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
   animation: background-position-top-left 40000ms linear 0ms infinite normal both, animate-fade-in-down 600ms cubic-bezier(0.785, 0.135, 0.15, 0.86) 0ms 1 normal both;
}
#LayoutGrid1
{
   box-sizing: border-box;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 0;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid1 > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid1 > .col-1
{
   flex: 0 0 auto;
}
#LayoutGrid1 > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   flex-basis: 100%;
   max-width: 100%;
   display: flex;
   flex-wrap: wrap;
   align-content: flex-start;
   align-self: stretch;
   align-items: flex-start;
   justify-content: center;
   text-align: center;
}
@media (max-width: 480px)
{
#LayoutGrid1 > .col-1
{
   flex-basis: 100% !important;
   max-width: 100% !important;
}
}
#wb_Image2
{
   margin: 0;
   vertical-align: top;
}
#Image2
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   animation: animate-fade-in-left 900ms cubic-bezier(0.785, 0.135, 0.15, 0.86) 0ms 1 normal both;
   display: block;
   width: 100%;
   height: auto;
   max-width: 500px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#wb_LayoutGrid3
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid3
{
   box-sizing: border-box;
   padding: 60px 15px 0 15px;
   margin-right: auto;
   margin-left: auto;
   max-width: 0px;
}
#LayoutGrid3 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid3 > .row > .col-1
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid3 > .row > .col-1
{
   float: left;
}
#LayoutGrid3 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 100%;
   text-align: left;
}
#LayoutGrid3:before,
#LayoutGrid3:after,
#LayoutGrid3 .row:before,
#LayoutGrid3 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid3:after,
#LayoutGrid3 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid3 > .row > .col-1
{
   float: none;
   width: 100% !important;
}
}
#wb_LayoutGrid2
{
   clear: both;
   position: relative;
   table-layout: fixed;
   display: table;
   text-align: center;
   width: 100%;
   background-color: transparent;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
   box-sizing: border-box;
   margin: 0;
}
#LayoutGrid2
{
   box-sizing: border-box;
   padding: 0 15px 0 15px;
   margin-right: auto;
   margin-left: auto;
}
#LayoutGrid2 > .row
{
   margin-right: -15px;
   margin-left: -15px;
}
#LayoutGrid2 > .row > .col-1, #LayoutGrid2 > .row > .col-2, #LayoutGrid2 > .row > .col-3, #LayoutGrid2 > .row > .col-4
{
   box-sizing: border-box;
   font-size: 0;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
   position: relative;
}
#LayoutGrid2 > .row > .col-1, #LayoutGrid2 > .row > .col-2, #LayoutGrid2 > .row > .col-3, #LayoutGrid2 > .row > .col-4
{
   float: left;
}
#LayoutGrid2 > .row > .col-1
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 25%;
   text-align: left;
}
#LayoutGrid2 > .row > .col-2
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 25%;
   text-align: left;
}
#LayoutGrid2 > .row > .col-3
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 25%;
   text-align: left;
}
#LayoutGrid2 > .row > .col-4
{
   background-color: transparent;
   background-image: none;
   border: 0px solid #FFFFFF;
   border-radius: 0px;
   width: 25%;
   text-align: left;
}
#LayoutGrid2:before,
#LayoutGrid2:after,
#LayoutGrid2 .row:before,
#LayoutGrid2 .row:after
{
   display: table;
   content: " ";
}
#LayoutGrid2:after,
#LayoutGrid2 .row:after
{
   clear: both;
}
@media (max-width: 480px)
{
#LayoutGrid2 > .row > .col-1, #LayoutGrid2 > .row > .col-2, #LayoutGrid2 > .row > .col-3, #LayoutGrid2 > .row > .col-4
{
   float: none;
   width: 100% !important;
}
}
#wb_Image1
{
   margin: 0;
   position: relative;
   vertical-align: top;
}
#Image1
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 140px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#Image1-overlay
{
   opacity: 0;
   transition: opacity 0.3s linear;
   position: absolute;
   pointer-events: none;
   top: 50%;
   left: 50%;
   width: 100%;
   transform: translate(-50%,-50%);
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 19px;
   font-style: normal;
   padding: 0;
   text-align: center;
}
#wb_Image1:hover #Image1-overlay
{
   opacity: 0.78;
}
#wb_Image3
{
   margin: 0;
   position: relative;
   vertical-align: top;
}
#Image3
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 140px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#Image3-overlay
{
   opacity: 0;
   transition: opacity 0.3s linear;
   position: absolute;
   pointer-events: none;
   top: 50%;
   left: 50%;
   width: 100%;
   transform: translate(-50%,-50%);
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 19px;
   font-style: normal;
   padding: 0;
   text-align: center;
}
#wb_Image3:hover #Image3-overlay
{
   opacity: 0.78;
}
#wb_Image4
{
   margin: 0;
   position: relative;
   vertical-align: top;
}
#Image4
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 120px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#Image4-overlay
{
   opacity: 0;
   transition: opacity 0.3s linear;
   position: absolute;
   pointer-events: none;
   top: 50%;
   left: 50%;
   width: 100%;
   transform: translate(-50%,-50%);
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 19px;
   font-style: normal;
   padding: 0;
   text-align: center;
}
#wb_Image4:hover #Image4-overlay
{
   opacity: 0.78;
}
#wb_Image5
{
   margin: 0;
   position: relative;
   vertical-align: top;
}
#Image5
{
   border: 0px solid #000000;
   border-radius: 0px;
   box-sizing: border-box;
   padding: 0;
   display: block;
   width: 100%;
   height: auto;
   max-width: 120px;
   margin-left: auto;
   margin-right: auto;
   vertical-align: top;
}
#Image5-overlay
{
   opacity: 0;
   transition: opacity 0.3s linear;
   position: absolute;
   pointer-events: none;
   top: 50%;
   left: 50%;
   width: 100%;
   transform: translate(-50%,-50%);
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 19px;
   font-style: normal;
   padding: 0;
   text-align: center;
}
#wb_Image5:hover #Image5-overlay
{
   opacity: 0.78;
}
